.field {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 50rem;
    height: 30rem;

    margin: 5px;
    padding: 5px;

    border: 6px solid black;
    border-radius: 8px;

    background-color: #00ff00;
    flex-wrap: nowrap;
}

.ball {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    transition: all 1s;

    width: 3rem;
    height: 3rem;

    border: 3px solid black;
    border-radius: 50%;
}
